<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
  <title>Feathers Chat</title>
  <link rel="stylesheet" href="//cdn.rawgit.com/feathersjs/feathers-chat/v0.1.0/public/base.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/feathersjs/feathers-chat/v0.1.0/public/chat.css">
</head>
<body>

<div id="app">
  <chat-app v-if="user.authenticated">
    <user-list></user-list>
    <message-list>
      <compose-message></compose-message>
    </message-list>
  </chat-app>
</div>

<template id="chat-app-template">
  <div id="app" class="flex flex-column">
    <header class="title-bar flex flex-row flex-center">
      <div class="title-wrapper block center-element">
        <img class="logo" src="http://feathersjs.com/img/feathers-logo-wide.png" alt="Feathers Logo">
        <span class="title">Chat</span>
      </div>
    </header>
    <div class="flex flex-row flex-1 clear">

      <!-- Slots/transclusion (Angular). See http://vuejs.org/guide/components.html#Single-Slot -->
      <slot></slot>

    </div>
  </div>
</template>


<template id="user-list-template">
  <aside class="sidebar col col-3 flex flex-column flex-space-between">
    <header class="flex flex-row flex-center">
      <h4 class="font-300 text-center"><span class="font-600 online-count" v-cloak>{{ users.length }}</span> users</h4>
    </header>
    <ul class="flex flex-column flex-1 list-unstyled user-list">
      <li v-for="(user, index) in users" :key="index" v-cloak>
        <a class="block relative" href="#">
          <img :src="user.avatar || dummyUser.avatar" alt="" class="avatar">
          <span class="absolute username">{{ user.email || dummyUser.email }}</span>
        </a>
      </li>
    </ul>
    <footer class="flex flex-row flex-center">
      <a href="#" class="logout button button-primary" @click="logout">Sign Out</a>
    </footer>
  </aside>
</template>


<template id="message-list-template">
  <div class="flex flex-column col col-9">
    <main class="chat flex flex-column flex-1 clear">
      <div class="message flex flex-row" v-for="(message, index) in messages" :key="index" v-cloak>
        <message :message=message></message>
      </div>
    </main>

    <slot></slot>

  </div>
</template>


<template id="message-template">
  <div>
      <img :src="message.sentBy.avatar || placeholder" :alt="message.sentBy.email" class="avatar">
      <div class="message-wrapper">
        <p class="message-header">
          <span class="username font-600">{{ message.email }}</span>
          <span class="sent-date font-300">{{ message.createdAt | moment }}</span>
        </p>
        <p class="message-content font-300">{{ message.text }}</p>
      </div>
    </div>
  </div>
</template>


<template id="compose-message-template">
  <form class="flex flex-row flex-space-between" id="send-message" v-on:submit.prevent>
    <input type="text" name="text" class="flex flex-1" v-model="newMessage">
    <button class="button-primary" type="submit" @click="addMessage">Send</button>
  </form>
</template>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.js"></script>
<script src="//rawgit.com/feathersjs/feathers-client/v1.7.1/dist/feathers.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="app.js"></script>
</body>
</html>